# TaskCat
taskcat_outputs/
.taskcat/
.taskcat_overrides.yml
functions/packages
output/
*.zip

# Docs
docs/
index.html
prod_example.html

# Python
__pycache__
venv/
.venv/

# macOS
.DS_Store

# IDE workspace settings
.idea
.vscode/
