[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "functions/source/EksClusterResource"]
	path = functions/source/EksClusterResource
	url = https://github.com/aws-quickstart/quickstart-amazon-eks-cluster-resource-provider.git
	branch = maintenance
[submodule "functions/source/HelmReleaseResource"]
	path = functions/source/HelmReleaseResource
	url = https://github.com/aws-quickstart/quickstart-helm-resource-provider.git
	branch = maintenance
[submodule "submodules/quickstart-eks-snyk"]
	path = submodules/quickstart-eks-snyk
	url = https://github.com/aws-quickstart/quickstart-eks-snyk.git
	branch = main
[submodule "submodules/quickstart-eks-newrelic-infrastructure"]
	path = submodules/quickstart-eks-newrelic-infrastructure
	url = https://github.com/aws-quickstart/quickstart-eks-newrelic-infrastructure.git
	branch = main
[submodule "functions/source/kubernetesResources"]
	path = functions/source/kubernetesResources
	url = https://github.com/aws-quickstart/quickstart-kubernetes-resource-provider.git
	branch = maintenance
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
	branch = main
[submodule "submodules/quickstart-eks-tigera-calico"]
	path = submodules/quickstart-eks-tigera-calico
	url = https://github.com/aws-quickstart/quickstart-eks-tigera-calico.git
	branch = main
[submodule "submodules/quickstart-eks-rafay-systems"]
	path = submodules/quickstart-eks-rafay-systems
	url = https://github.com/aws-quickstart/quickstart-eks-rafay-systems.git
	branch = main
[submodule "submodules/quickstart-eks-grafana"]
	path = submodules/quickstart-eks-grafana
	url = https://github.com/aws-quickstart/quickstart-eks-grafana.git
	branch = main
[submodule "submodules/quickstart-eks-prometheus"]
	path = submodules/quickstart-eks-prometheus
	url = https://github.com/aws-quickstart/quickstart-eks-prometheus.git
	branch = main
[submodule "submodules/quickstart-eks-mulesoft-runtime-fabric"]
	path = submodules/quickstart-eks-mulesoft-runtime-fabric
	url = https://github.com/aws-quickstart/quickstart-eks-mulesoft-runtime-fabric.git
	branch = main
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = https://github.com/aws-quickstart/quickstart-linux-bastion.git
	branch = main
[submodule "submodules/quickstart-amazon-eks-nodegroup"]
	path = submodules/quickstart-amazon-eks-nodegroup
	url = https://github.com/aws-quickstart/quickstart-amazon-eks-nodegroup.git
	branch = main
