# Mac OS X
.DS_Store

# IntelliJ
.idea/
out/
/.venv/
/venv/

# Taskcat
.taskcat_overrides.yml
taskcat_outputs/
.taskcat/

# docs2.0
/images/
docs/generated/
docs/index.html

# quickstart build
/functions/packages
/output
.pre-commit-config.yaml
.editorconfig
